*,
::after,
::before {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  line-heigth: 1.2;
  letter-spacing: 0rem;
  vertical-align: middle;
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

a {
  text-decoration: none;
}
a img {
  border: 0;
}
.fontzero {
  font-size: 0;
}
.clear {
  clear: both;
}
:root {
  --green: rgb(35, 133, 5);
  --white: #ffffff;
  --black: #000000;
}

.container {
  display: flex;
  width: 100%;
}
.content {
  width: 95%;
  padding: 2.5%;
  margin: 0 auto;
}
.title {
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}
.tagline {
  font-size: 1.3rem;
  margin-top: 2rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 1.3rem;
}
mark {
  padding: 5px;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 20px;
}

.btn-a {
  width: 100%;
  max-width: 255px;
  heigth: 55px;
  background: var(--black);
  font-size: 1.2rem;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  color: var(--white);
  width: auto;
  margin: 10px auto;
}

.btn-a:hover {
  background: rgb(22, 21, 21);
}

/* HEADER  */
.bg-header {
  background: no-repeat center center url(img/bg-header.png);
  background-size: cover;
  width: 100%;
  height: auto;
  color: var(--white);
}
.logo {
  width: 100%;
  max-width: 180px;
  height: auto;
  max-height: 90px;
}
.main-header {
  padding: 2rem 0 5rem 0;
}
.main-header .title {
  font-size: 5rem;
  line-height: 5.5rem;
  margin-top: 5rem;
  font-weight: 900;
  color: var(--green);
  text-shadow: -1px -1px 0 rgba(6, 19, 4, 0.5), /* Borda preta */ 1px -1px 0 rgba(6, 19, 4, 0.5),
    -1px 1px 0 rgba(6, 19, 4, 0.5), 1px 1px 0 rgba(6, 19, 4, 0.5);
}
.main-header .fontwhite {
  font-size: 5rem;

  color: var(--white);
  font-weight: 900;
  text-shadow: none;
  margin-bottom: 5rem;
  text-shadow: -1px -1px 0 rgba(6, 19, 4, 0.5), /* Borda preta */ 1px -1px 0 rgba(6, 19, 4, 0.5),
    -1px 1px 0 rgba(6, 19, 4, 0.5), 1px 1px 0 rgba(6, 19, 4, 0.5);
}

/* FLAT */

.main-flat,
.main-crosstraining {
  background: var(--green);
  color: var(--white);
  padding: 2rem 0;
}

.flat {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

/* ROUTINES */
.bg-routines {
  background: no-repeat center center url(img/bg-routines.png);
  background-size: cover;
  width: 100%;
  height: auto;
  color: var(--white);
}
.main-routines-content {
  padding: 2rem 0;
}
.main-routines-content .title {
  font-size: 3.5rem;
  color: var(--green);
  text-shadow: -1px -1px 0 rgba(6, 19, 4, 0.5), /* Borda preta */ 1px -1px 0 rgba(6, 19, 4, 0.5),
    -1px 1px 0 rgba(6, 19, 4, 0.5), 1px 1px 0 rgba(6, 19, 4, 0.5);
}
.routines-right {
  width: 98%;
  padding: 2rem 0;
}
.routines-right h1 {
  font-size: 1.5rem;
  color: var(--green);
  text-transform: uppercase;
  font-weight: 500;
  text-shadow: -1px -1px 0 rgba(6, 19, 4, 0.5), /* Borda preta */ 1px -1px 0 rgba(6, 19, 4, 0.5),
    -1px 1px 0 rgba(6, 19, 4, 0.5), 1px 1px 0 rgba(6, 19, 4, 0.5);
  margin: 10px 0;
}
.routines-right p {
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
  font-variant-ligatures: common-ligatures;
  font-size: 1.2rem;
}
/* CROSS TRAINING  */
.main-crosstraining {
  background: var(--green);
}
.main-crosstraining-content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-crosstraining-left {
  text-align: center;
  margin-bottom: 2rem;
}

.main-crosstraining-righ {
  margin-top: 2rem;
  width: 100%;
  height: 300px;
  background: no-repeat center center url(img/bg-crosstraining.png);
  background-size: cover;
  clip-path: polygon(100% 0, 100% 100%, 30% 100%, 0 0);
  object-fit: cover; /* Garantir que a imagem se ajuste ao clipe */
  position: relative; /* Modificação importante */
  z-index: 1;
  top: 0;
  animation: toLeft linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

/* 
.bg-crosstraining {
  background: no-repeat center center url(img/bg-crosstraining.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 0, 100% 100%, 30% 100%, 0 0);
  position: relative;
  z-index: 1;
  top: 0;
} */

.main-crosstraining-content .tagline {
  text-align: justify;
}

/* .img-crosstraining {
  width: 100%;
  height: auto;
  clip-path: polygon(100% 0, 100% 100%, 30% 100%, 0 0);
  object-fit: cover;
} */

/* MAPA */
.map iframe {
  width: 100%;
  height: 650px;
}

/* FOOTER  */
.bg-fitclub {
  background: linear-gradient(to bottom, transparent -80%, #000 90%), no-repeat center center url(img/bg-fitclub.png);
  background-size: cover;
  width: 100%;
  height: auto;
  color: var(--white);
}
.footer-content {
  padding: 2rem 0;
}
.footer-content .title {
  font-size: 3.5rem;
  color: var(--green);
  text-shadow: -1px -1px 0 rgba(6, 19, 4, 0.5), /* Borda preta */ 1px -1px 0 rgba(6, 19, 4, 0.5),
    -1px 1px 0 rgba(6, 19, 4, 0.5), 1px 1px 0 rgba(6, 19, 4, 0.5);
}
.footer-content li {
  list-style-type: none;
}

.footer-content .webmbm {
  text-align: center;
  font-size: 0.675rem;
  font-weight: 400;
  padding: 3px;
}

.webmbm a {
  font-size: 0.675rem;
  cursor: pointer;
  color: var(--green);
}

.webmbm a:hover {
  background-color: #eeeeee;
  border-radius: 2px;
  color: var(--black);
}
/*ANIMATED HEADER*/
.animatedHeader {
  animation: apper linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

@keyframes text-pop-up-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(300px);
    transform: translateZ(400px) translateY(300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

/*ANIMATED STRIP*/
.animeGreen {
  background-color: var(--green);
  border: 2px solid var(--green);
  position: relative;
}
.animatedStrip {
  display: flex;
  background-color: var(--white);
  color: var(--black);
  width: 99vw; /* Largura da viewport */
  padding: 1vw 0;
  transform: translateX(0%) rotate(2deg);
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  backface-visibility: hidden;
  position: absolute;
  top: -50px;
  left: -1px;
}
.animatedStrip h2 {
  font-size: clamp(2rem, 2vw, 3vw);
  animation: animeteStripClub 4s infinite linear;
  padding-left: 8px;
}
.animatedStrip:hover h2 {
  animation-play-state: paused;
}
@keyframes animeteStripClub {
  0% {
    transform: translateX(-1%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*ANIMATED ROUTINES*/

.animatedRoutines {
  animation: apper linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

@keyframes apper {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

/*ANIMATED TO RIGHT*/
.animatedToRigth {
  animation: toRight linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

@keyframes toRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

/*ANIMATED TO RIGHT*/
.animatedToLeft {
  animation: toLeft linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

@keyframes toLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
/*
Pequenos telefones: 320px - 480px
Telefones: 481px - 767px
Tablets: 768px - 1023px
Desktops: 1024px - 1200px
Desktops grandes: 1201px +
*/
@media (min-width: 480px) {
  .main-header {
    margin-bottom: 50px;
  }
  .ft-content-tagline {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .ft-content-tagline ul {
    margin: 5% 3%;
  }
}

@media (min-width: 660px) {
  .flat {
    display: flex;
    flex-direction: row;
    max-width: 660px;
    margin: 0 auto;
  }
}

@media (min-width: 767px) {
  .routines-right {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
  .routines-right article {
    width: 46%;
    padding: 0 2%;
    margin-bottom: 25px;
  }

  .main-crosstraining {
    padding: 0;
    min-height: 500px;
  }

  .main-crosstraining-content {
    flex-direction: row;
    margin: 0 !important;
    width: 100% !important;
    padding: 0 !important;
  }
  .main-crosstraining-left {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin: 2rem 30px 2rem 30px;
    justify-content: center;
  }
  .main-crosstraining-righ {
    width: 60%;
    height: 100%;
    z-index: 3;
    margin: 0;
    top: 0;
    right: 0;
    background: no-repeat center center url(img/bg-crosstraining.png);
    background-size: cover;
    clip-path: polygon(100% 0, 100% 100%, 30% 100%, 0 0);
    object-fit: cover; /* Garantir que a imagem se ajuste ao clipe */
    position: relative; /* Modificação importante */
  }
}

@media (min-width: 1201px) {
  .main-header .title {
    font-size: 8.5rem;
    padding-bottom: 5rem;
    line-height: 10.5rem;
  }
  .main-header .fontwhite {
    font-size: 8.5rem;
    margin: 6rem auto;
  }
  .main-flat-content .title {
    font-size: 6.5rem;
    line-height: 7.5rem;
    max-width: 1920px;
    margin: 6rem auto;
  }
  .routines-left .title {
    font-size: 6.5rem;
    line-height: 7.5rem;
    margin: 6rem auto;
  }
  .routines-right {
    max-width: 1920px;
  }
  .main-crosstraining {
    min-height: 750px;
  }
  .main-crosstraining-left {
    max-width: 1200px;
  }
  .map {
    height: 650px;
    min-height: 650px;
  }
  .title {
    font-size: 6.5rem;
    line-height: 7.5rem;
    margin: 6rem auto;
  }
  .footer-content .title {
    font-size: 6.5rem;
    line-height: 7.5rem;
    margin: 6rem auto;
  }
  .animatedStrip {
    top: -55px;
  }
}
@media (min-width: 2300px) {
  .animatedStrip {
    top: -60px;
  }
}
